body{
  margin:0;
  background: #1b263b;
  color:var(--text);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ====== Header & Meny ====== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}

.nexora-logga {
    width: 250px;
    height: auto;
    margin-top: 0px;
}

.huvudmeny ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.huvudmeny a {
  text-decoration: none;
  color: #f5f5dc; /* beige text */
  font-weight: bold;
  transition: color 0.3s;
}

.huvudmeny a:hover {
  color: #4cc9f0; /* ljusblå vid hover */
}

/*Kontaktformulär*/
* { box-sizing: border-box; }
form { 
  display: grid; 
  gap: 12px; 
}

label { 
  font-weight: bold; 
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font: inherit;
}

input:focus, textarea:focus {
  border-color: #60a5fa;
  outline: none;
}

input.validerad-ok, textarea.validerad-ok  { border-color: #22c55e; }
input.validerad-fel, textarea.validerad-fel{ border-color: #ef4444; }

.hint {
  min-height: 16px;
  font-size: 13px;
}

.hint.ok  { color: #22c55e; }
.hint.fel { color: #ef4444; }

#räknare {
  font-size: 12px;
  color: #666;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #4cc9f0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  opacity: .6;
}
button:enabled { opacity: 1; }
button:disabled { cursor: not-allowed; }

.formstatus {
  min-height: 16px;
  font-size: 13px;
  color: #666;
}
.formstatus.ok  { color: #22c55e; }
.formstatus.fel { color: #ef4444; }


/* ====== Footer ====== */
footer {
  background: #1b263b;
  color: #f5f5dc;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.footer h3 {
  margin-top: 0;
  color: #4cc9f0;
}

.footer a {
  color: #4cc9f0;
  text-decoration: none;
}

.footer a:hover {
  color: #4cc9f0;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: underline;
}

h4{
  color: white;
}


.navicon {
  display: none; 
  font-size: 24px;
  background: none;
  color: #f5f5dc;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navicon {
    display: block; 
  }

  .huvudmeny ul {
    display: none;
    flex-direction: column;
    background-color: #1b263b;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .huvudmeny ul.visa {
    display: flex;
  }
}
